body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.edit-profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    padding: 20px;
}

.edit-profile-header {
    background-color: #2962ff;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background-color: rgb(181, 12, 12);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.edit-profile-form {
    padding: 20px 0;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    width: 48%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #2962ff;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.update-button {
    width: 40%;
    background-color: #2962ff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10rem;
}

.update-button:hover {
    background-color: #0039cb;
}
