{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admindashboard.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        /* Add any additional CSS styles here */
        table {
            width: 100%;
            /* Ensure cells share borders */
            border: 1px solid #ddd;
            /* Table border */
        }

        th {
            color: #00A3FF;
        }

        th,
        td {
            padding: 10px;
            /* Padding for cells */
        }

        .clock-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        #clock {
            font-size: 3rem;
            margin-bottom: 10px;
        }

        #chart_div2 {
            width: 100%;
            height: 300px;
        }
    </style>
</head>
<body>

<nav id="Admin-nav">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="admin-logo">
                    <img src="{% static '/images/Group 199.png' %}">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <div class="admin-logoutbox" style="float: right;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M12 21v-2h7V5h-7V3h7q.825 0 1.413.588T21 5v14q0 .825-.587 1.413T19 21zm-2-4l-1.375-1.45l2.55-2.55H3v-2h8.175l-2.55-2.55L10 7l5 5z" />
                    </svg>
                    {% if user.is_authenticated %}
            <div class="icon">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" style="background-color: transparent; border: 2px solid blue; color: blue;">Logout</button>
                </form>
            </div>
        {% endif %}
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</nav>

<section id="dashboard">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar">
                <div class="dashboard-box1 border">
                    <a style="text-decoration: none; color: white; font-weight: 100; font-size: 12px;" href="{% url 'admin_dashboard' %}">Dashboard ></a>
                </div>
                <h3>Master Writers</h3>
                <div class="dashboard-box2 border">
                    <a style="text-decoration: none; color: white; font-weight: 100; font-size: 12px;" href="{% url 'admin_master_view' %}">View request ></a>
                </div>
                <div class="dashboard-box3 border">
                    <a style="text-decoration: none; color: white; font-weight: 100; font-size: 12px;" href="{% url 'all_master' %}">All master writers ></a>
                </div>
                <h3>Users</h3>
                <div class="dashboard-box4 border">
                    <a style="text-decoration: none; color: white; font-weight: 100; font-size: 12px;" href="{% url 'all_writters' %}">View authors ></a>
                </div>
                <div class="dashboard-box5 border">
                    <a style="text-decoration: none; color: white; font-weight: 100; font-size: 12px;" href="{% url 'submission_history' %}">Submission history ></a>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div id="chart_div2"></div>
        </div>
        <div class="col-md-2">
            <div id="multi"></div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="radialMultiProgress.js"></script>
<script>
    $("#multi").radialMultiProgress({
      thickness: 10,
      space: 0,
      antiAlias: true,
      scaleLabel: true,
      data: [
          { id: 'yellowBar', color: "yellow", range: [0, 100], value: 12 },
          { id: 'yellowBar', color: "orange", range: [0, 60], value: 12 },
          { id: 'redBar', color: "red", range: [0, 59], value: 23 }
      ]
  });
  </script>
</body>
</html>
