<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Success - Pen Craft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Submission Success</h2>
        {% comment %} <h1> {{submission.title}} {% endcomment %}
        <p>Your writing submission was successful!</p>
        <a href="{% url 'submit_writing' %}" class="btn btn-primary">Submit Another Writing</a>

    </div>
</body>
</html>
