<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Detail - Pen Craft</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h2>Submission Detail</h2>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Category</th>
                    <td>{{ submission.category }}</td>
                </tr>
                <tr>
                    <th scope="row">Title</th>
                    <td>{{ submission.title }}</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>{{ submission.description }}</td>
                </tr>
                <tr>
                    <th scope="row">Plagiarism Mark</th>
                    <td>{{ submission.plagiarism_mark }}</td>
                </tr>
                <tr>
                    <th scope="row">Grammatical Mark</th>
                    <td>{{ submission.grammatical_mark }}</td>
                </tr>
                <tr>
                    <th scope="row">Master Check Mark</th>
                    <td>{{ submission.master_check_mark }}</td>
                </tr>
                <tr>
                    <th scope="row">Total Mark</th>
                    <td>{{ submission.total_mark }}</td>
                </tr>
                <tr>
                    <th scope="row">Reviewed By</th>
                    <td>{{ submission.reviewed_by }}</td>
                </tr>
                <tr>
                    <th scope="row">Submitted At</th>
                    <td>{{ submission.submitted_at }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'submission_history' %}" class="btn btn-primary">Back to Submission History</a>
    </div>
</body>
</html>
